/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* Algemene styling van de header */
/* Header styling blijft hetzelfde */
header {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	background-image: url("/images/taycan-header.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 25vh;
	padding: 13px 40px;
	position: relative;
	z-index: 100;
}

/* Hamburger menu */
#menu-btn {
	background: none;
	border: none;
	cursor: pointer;
	z-index: 110;
	padding: 0px;
}

#menu-btn img {
	width: 24px;
	height: 24px;
	filter: invert(1);
}

/* Overlay voor het menu, standaard verborgen */
#menu-overlay {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255);
	/* display: flex; */
	/* justify-content: center;
	align-items: center; */
	transition: left 0.3s ease-in-out;
	z-index: 100;
}

/* Menu zichtbaar maken als het wordt geopend */
#menu-overlay.show {
	left: 0;
}

/* Menu links */
#nav-links {
	list-style-type: none;
	padding: 0 27px;
	margin: 73px 0 0 0;
	text-align: left;
}

nav ul li {
	padding: 0 8px;
	margin: 36px 0;
}

nav ul li a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 24px;
	/* Grotere tekst voor mobiel */
	display: block;
}

#porsche-logo {
	max-width: 30px;
	max-height: 40px;
}

#profile-icon {
	width: 24px;
	height: 24px;
	filter: invert(1);
}

/* MAIN */

main img {
	height: 20%;
	width: 20%;
}

#uitvoeringen-weissach-model {
	padding: 17px 0 0 0;
}

