/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

/* * {
	outline: 1px solid red;
} */






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text-taycan: #010205;
	--color-text-vergelijken: #000000;
	--color-text-white: #FBFCFF;
	--color-text-small: #6B6D70;
	--background-color: #FBFCFF;
	--margin-body: 0 8% 0 8%;
	--font-size-h1: 7.5vw;
	--font-size-h2: 8vw;
	--font-size-h2-small: 6.5vw;
	--font-size-algemeen: 3.5vw;
}





/****************/
/* JOUW STYLING */
/****************/

@font-face {
	font-family: PorscheRegular;
	font-style: normal;
	font-weight: normal;
	src: url('../Fonts/porsche-next-latin-regular.b8f1c20.woff2') format('woff2');
}

@font-face {
	font-family: PorscheSemiBold;
	font-style: normal;
	font-weight: 600;
	src: url('../Fonts/porsche-next-latin-semi-bold.b5f6fca.woff2') format('woff2');
}

/* @font-face {
	font-family: PorscheBold;
	font-style: normal;
	font-weight: 800;
	src: url('../Fonts/porsche-next-latin-bold.0fbdc6d.woff2') format('woff2');
} */





/* 
HEADER
  1. https://flexboxfroggy.com/#nl
  2. https://www.w3schools.com/css/tryit.asp?filename=trycss_zindex2
  8. ChatGPT prompt: Hoe zorg ik ervoor dat het minder hard opschaalt als ik het scherm groter maak?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  13. https://www.w3schools.com/css/css_display_visibility.asp
  15. https://www.youtube.com/watch?v=aNDqzlAKmZc&ab_channel=Treehouse
  16. https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
  17. https://mukundkumra.medium.com/create-a-responsive-hamburger-menu-with-html-and-css-a-step-by-step-tutorial-c63e44fcee2e
  18. https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0
  19. https://www.tutorialspoint.com/how-to-create-hamburger-menu-for-mobile-devices
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  23. https://www.w3schools.com/css/css_positioning.asp
*/

header {
	margin: var(--margin-body);
	padding: 4% 0;

	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}

/* Hamburger menu */
#menu-btn {
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	z-index: 2;
}

/* (values in px) */
#menu-btn img {
	width: 24px;
	height: 24px;
	filter: invert(1);
}

/* Overlay voor het menu, standaard verborgen */
#menu-overlay {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	transition: left 0.3s ease-in-out;
	z-index: 3;
}

/* Menu zichtbaar maken als het wordt geopend */
#menu-overlay.show {
	left: 0;
}

/* Menu links (values in px) */
#nav-links {
	font-family: PorscheRegular;
	list-style-type: none;
	padding: 0 27px;
	margin: 73px 0 0 0;
	text-align: left;
}

/* (values in px) */
nav ul li {
	padding: 0 8px;
	margin: 36px 0 0 0;
}

nav ul li a {
	/* display: block; */
	color: var(--color-text-taycan);
	text-decoration: none;
	font-size: 1.5em;
}

.porsche-logo {
	max-width: 30px;
	max-height: 40px;
}

.profile-icon {
	width: 24px;
	height: 24px;
	filter: invert(1);
}



/* 
"HEADER" afbeeldingen
  1. https://flexboxfroggy.com/#nl
  2. https://www.w3schools.com/css/tryit.asp?filename=trycss_zindex2
  8. ChatGPT prompt: Hoe zorg ik ervoor dat het minder hard opschaalt als ik het scherm groter maak?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  13. https://www.w3schools.com/css/css_display_visibility.asp
  20. https://www.youtube.com/watch?v=3ncFpP8GP4g&ab_channel=KevinPowell
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  23. https://www.w3schools.com/css/css_positioning.asp
*/

.header-imgs {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: var(--margin-body)
}

.header-imgs img:nth-of-type(1) {
	position: absolute;
	z-index: -3;
	top: 0;
	left: 0;
	width: 100vw;
	filter: brightness(50%);
}

.header-imgs img:nth-of-type(2) {
	position: absolute;
	z-index: -2;
	width: 55%;
	filter: invert(1);
}

.header-imgs img:nth-of-type(3) {
	position: relative;
	z-index: -1;
	top: 50px;
	width: 100%;
	margin: 0 0 50px 0;
}



/* 
Uitvoeringen Weissach Model
  1. https://flexboxfroggy.com/#nl
  8. ChatGPT prompt: Hoe zorg ik ervoor dat het minder hard opschaalt als ik het scherm groter maak?
  10. ChatGPT promtp: Hoe voorkom ik dat een CSS-regel onbedoeld invloed heeft op andere secties van mijn website?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.uitvoeringen-weissach-model {
	margin: var(--margin-body);
	padding: 17px 0 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.uitvoeringen-weissach-model section:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	padding: 4px 0;
	font-family: PorscheRegular;
	font-size: var(--font-size-algemeen);
}

.uitvoeringen-weissach-model section:nth-of-type(1) a {
	color: var(--color-text-taycan);
	text-decoration: none;
	padding: 0 1em;
}

.uitvoeringen-weissach-model section:nth-of-type(1) a.active {
	text-decoration: underline;
}

.uitvoeringen-weissach-model h1 {
	font-size: var(--font-size-h1);
	margin: 0;
}

.uitvoeringen-weissach-model section:nth-of-type(2) {
	padding: 10px 0;
	font-family: PorscheRegular;
}

.uitvoeringen-weissach-model section:nth-of-type(2) p {
	font-size: var(--font-size-algemeen);
	/* margin: 0 603px; */
}

.uitvoeringen-weissach-model section:nth-of-type(2) p:first-of-type {
	background-color: #EEEFF2;
	border-radius: 3px;
	padding: 1px 6px;
}

.uitvoeringen-weissach-model section:nth-of-type(3) {
	font-family: PorscheRegular;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.uitvoeringen-weissach-model section:nth-of-type(3) a {
	font-size: 16px;
	display: block;
	width: 100%;
	padding: 13px 26px;
	border: 2px solid var(--color-text-taycan);
	border-radius: 3px;
	color: var(--color-text-taycan);
	text-decoration: none;
	margin: 0 0 10px 0;
}

.uitvoeringen-weissach-model section:nth-of-type(3) a.active {
	color: var(--color-text-white);
	background-color: var(--color-text-taycan);
}

.uitvoeringen-weissach-model section:nth-of-type(3) p {
	font-size: var(--font-size-algemeen);
	color: var(--color-text-small);
}




/* 
Tech specs
  1. https://flexboxfroggy.com/#nl
  8. ChatGPT prompt: Hoe zorg ik ervoor dat het minder hard opschaalt als ik het scherm groter maak?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  13. https://www.w3schools.com/css/css_display_visibility.asp
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.tech-specs {
	margin: var(--margin-body);
	padding: 17px 0 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: PorscheRegular;
	text-align: center;
}

.tech-specs h2 {
	font-size: var(--font-size-h2);
	margin: 0;
}

.tech-specs p {
	font-size: var(--font-size-algemeen);
	color: var(--color-text-small);
	margin: 0 0 10% 0;
}

.tech-specs a {
	font-size: var(--font-size-algemeen);
	padding: 13px 26px;
	border: 2px solid var(--color-text-taycan);
	border-radius: 3px;
	color: var(--color-text-taycan);
	text-decoration: none;
	margin: 0 0 10% 0;
}

.tech-specs img {
	width: 100%;
	height: auto;
}



/* 
Overfeel
  1. https://flexboxfroggy.com/#nl
  2. https://www.w3schools.com/css/tryit.asp?filename=trycss_zindex2
  4. https://developer.mozilla.org/en-US/docs/Web/CSS/content
  5. https://www.w3schools.com/cssref/pr_gen_content.php
  6. https://developer.mozilla.org/en-US/docs/Web/CSS/::before
  8. ChatGPT prompt: Hoe zorg ik ervoor dat het minder hard opschaalt als ik het scherm groter maak?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  13. https://www.w3schools.com/css/css_display_visibility.asp
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  23. https://www.w3schools.com/css/css_positioning.asp
*/

.overfeel {
	margin: var(--margin-body);
	padding: 50px 0 87px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: PorscheRegular;

}

.overfeel::before {
	content: '';
	position: absolute;
	/* top: 20%; */
	width: 100vw;
	height: 60%;
	background-color: var(--color-text-taycan);
	z-index: -1;
}

.overfeel img:nth-of-type(1) {
	width: 50%;
	height: auto;
	padding: 0 0 34px 0;
}

.overfeel img:nth-of-type(2) {
	width: 100%;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	margin: 0 0 30px 0;
}

.overfeel section:nth-of-type(1) {
	color: #eee;
	text-align: left;
	margin: 0 0 48px 0;
}

.overfeel h2 {
	font-size: var(--font-size-h2-small);
	margin: 0;
}

.overfeel p {
	font-size: 18px;
	margin: 17px 0 0 0;
}

.overfeel img:nth-of-type(3) {
	width: 75%;
	height: auto;
	border-radius: 10px;
	display: block;
	align-self: flex-start;
	/* margin: 0 0 -11% -13%; */
}

.overfeel img:nth-of-type(4) {
	width: 65%;
	height: auto;
	border-radius: 10px;
	align-self: flex-end;
	/* margin: 0 -8% 0 0; */
}



/* 
Hoogtepunten
  1. https://flexboxfroggy.com/#nl
  2. https://www.w3schools.com/css/tryit.asp?filename=trycss_zindex2
  3. https://www.w3schools.com/howto/howto_css_image_text.asp
  9. ChatGPT: Hoe kan ik ervoor zorgen dat de tekstkleur alleen op de tweede sectie wordt toegepast zonder het gebruik van extra classes of ID's?
  10. ChatGPT promtp: Hoe voorkom ik dat een CSS-regel onbedoeld invloed heeft op andere secties van mijn website?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  13. https://www.w3schools.com/css/css_display_visibility.asp
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  23. https://www.w3schools.com/css/css_positioning.asp
  24. https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-x
*/

.hoogtepunten {
	margin: 0 8% 0 8%;
}

.hoogtepunten h2:first-child {
	font-family: PorscheSemiBold;
	font-size: var(--font-size-h2-small);
	text-align: center;
}

.hoogtepunten-scroll {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.hoogtepunten-scroll section {
	min-width: 100%;
	position: relative;
}

.hoogtepunten-scroll img {
	width: 100%;
	height: auto;
	border-radius: 15px;
}


.hoogtepunten-scroll section h2,
.hoogtepunten-scroll section p {
	font-family: PorscheRegular;
	position: absolute;
	color: var(--color-text-white);
}

.hoogtepunten-scroll section:nth-of-type(1) {
	margin: 0 5% 0 0;
}

.hoogtepunten-scroll section:nth-of-type(1) h2 {
	bottom: 22%;
	left: 5%;
	font-size: var(--font-size-h2-small);
	margin: 0;
}

.hoogtepunten-scroll section:nth-of-type(2) h2 {
	bottom: 26%;
	left: 5%;
	font-size: var(--font-size-h2-small);
	margin: 0;
}

.hoogtepunten-scroll section p {
	bottom: 5%;
	left: 5%;
	width: 90%;
	font-size: var(--font-size-algemeen);
	margin: 0;
}



/* 
Prestaties
  1. https://flexboxfroggy.com/#nl
  2. https://www.w3schools.com/css/tryit.asp?filename=trycss_zindex2
  3. https://www.w3schools.com/howto/howto_css_image_text.asp
  9. ChatGPT: Hoe kan ik ervoor zorgen dat de tekstkleur alleen op de tweede sectie wordt toegepast zonder het gebruik van extra classes of ID's?
  10. ChatGPT promtp: Hoe voorkom ik dat een CSS-regel onbedoeld invloed heeft op andere secties van mijn website?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  13. https://www.w3schools.com/css/css_display_visibility.asp
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  23. https://www.w3schools.com/css/css_positioning.asp
  24. https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-x
*/

.prestaties {
	margin: 0 8% 0 8%;
	padding: 25% 0 30% 0;
	position: relative;
}

.prestaties::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 75%;
	background-color: var(--color-text-taycan);
	z-index: -1;
}

.prestaties>section:nth-of-type(1) img {
	width: 100%;
	height: auto;
}

.prestaties>section:nth-of-type(2) {
	text-align: center;
	color: var(--color-text-white);
}

.prestaties section:nth-of-type(2) h2 {
	font-family: PorscheSemiBold;
	font-size: var(--font-size-h2-small);
}

.prestaties>section:nth-of-type(2) p {
	font-family: PorscheRegular;
	font-size: var(--font-size-algemeen);
}

.prestaties>section:nth-of-type(3) {
	padding: 0 0 10% 0;
}

.prestaties section:nth-of-type(3) button {
	background: none;
	color: var(--color-text-taycan);
	font-size: var(--font-size-algemeen);
	border: none;
	text-decoration: underline;
}

.prestaties-scroll {
	margin: 0 8%;
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}

.prestaties-scroll img {
	width: 100%;
	height: auto;
}

.prestaties-scroll section {
	padding: 5%;
	min-width: 100%;
	font-family: PorscheRegular;
	background-color: rgb(222, 224, 225);
	border-radius: 15px;
	align-content: center;
}

.prestaties-scroll section:nth-of-type(1) {
	margin: 0 5% 0 0;
}

.prestaties-scroll section:nth-of-type(1) p:nth-of-type(1),
.prestaties-scroll section:nth-of-type(1) p:nth-of-type(2),
.prestaties-scroll section:nth-of-type(1) p:nth-of-type(3),
.prestaties-scroll section:nth-of-type(1) p:nth-of-type(4) {
	margin: 0;
	text-align: center;
}

.prestaties-scroll section:nth-of-type(1) p:nth-of-type(1),
.prestaties-scroll section:nth-of-type(1) p:nth-of-type(3) {
	font-size: var(--font-size-h2-small);
}

.prestaties-scroll section:nth-of-type(1) p:nth-of-type(2),
.prestaties-scroll section:nth-of-type(1) p:nth-of-type(4) {
	font-size: var(--font-size-algemeen);
	color: var(--color-text-small);

}

.prestaties-scroll section:nth-of-type(2) p:nth-of-type(1),
.prestaties-scroll section:nth-of-type(2) p:nth-of-type(2),
.prestaties-scroll section:nth-of-type(2) p:nth-of-type(3),
.prestaties-scroll section:nth-of-type(2) p:nth-of-type(4) {
	margin: 0;
}

.prestaties-scroll section:nth-of-type(2) p:nth-of-type(1),
.prestaties-scroll section:nth-of-type(2) p:nth-of-type(2),
.prestaties-scroll section:nth-of-type(2) p:nth-of-type(3) {
	text-align: center;
}


.prestaties-scroll section:nth-of-type(2) p:nth-of-type(2) {
	font-size: var(--font-size-h2-small);
}


/* .prestaties {
	margin: 0 8% 0 8%;
	padding: 50px 0 87px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
}

.prestaties::before {
	content: '';
	position: absolute;
	width: 100vw;
	height: 75%;
	background-color: var(--color-text);
	z-index: -1;
}

.prestaties section {
	margin: 0 8% 0 8%;
}

.prestaties section:nth-of-type(1) img {
	width: 100vw;
	height: auto;
}

.prestaties>section:nth-of-type(2) {
	color: var(--color-background);
}

.prestaties section:nth-of-type(3) {
	margin: 16px;
}

.prestaties section:nth-of-type(3) button {
	background: none;
	color: var(--color-background);
	border: none;
	text-decoration: underline;
}

.scroll-container {
	display: flex;
	overflow-x: auto;
}

.scroll-container section {
	min-width: 80%;
	font-size: 16px;
	background-color: #eeeff2;
	padding: 17px;
	border-radius: 5px;
}

.scroll-container section:nth-of-type(2) {
	color: var(--color-text);
}

.scroll-container section:nth-of-type(2) img {
	width: 100%;
	height: auto;
} */




/* 
Macan topsnelheid
  1. https://flexboxfroggy.com/#nl
  2. https://www.w3schools.com/css/tryit.asp?filename=trycss_zindex2
  3. https://www.w3schools.com/howto/howto_css_image_text.asp
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  13. https://www.w3schools.com/css/css_display_visibility.asp
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  23. https://www.w3schools.com/css/css_positioning.asp
*/

.macan-topsnelheid {
	margin: 0 8% 0 8%;
}

.macan-topsnelheid section {
	position: relative;
	margin-bottom: 20%;
	font-family: PorscheRegular;
}

.macan-topsnelheid img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.macan-topsnelheid section a {
	padding: 3%;
	position: absolute;
	bottom: 5%;
	left: 5%;
	color: var(--color-text-taycan);
	text-decoration: none;
	text-align: left;
	background-color: #6b6d705b;
	border-radius: 10px;
}

.macan-topsnelheid section a h2,
p {
	margin: 0;
}


.macan-topsnelheid div {
	position: absolute;
	top: 5%;
	left: 5%;
	font-size: var(--font-size-algemeen);
	color: var(--color-text-taycan);
}






/* 
FOOTER
  1. https://flexboxfroggy.com/#nl
  8. ChatGPT prompt: Hoe zorg ik ervoor dat het minder hard opschaalt als ik het scherm groter maak?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  13. https://www.w3schools.com/css/css_display_visibility.asp
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.footer-taycan {
	font-family: PorscheRegular;
	background-color: var(--color-text-taycan);
	color: var(--color-text-white);
	padding: 10% 0 120px 0;
}

.footer-taycan section {
	margin: 0 8% 0 8%;
}

.footer-taycan h2 {
	font-size: 18px;
}

.footer-taycan section:nth-of-type(1) {
	padding: 0 0 36px 0;
}

.footer-taycan section:nth-of-type(1) img {
	width: 8%;
	height: auto;
	margin: 0 8px 0 0;
}

.footer-taycan section:nth-of-type(1) a {
	padding: 0 0 0 24px;
	color: #eee;
}

.nieuws-contact {
	padding: 0 0 36px 0;
}

.nieuws-contact h2 {
	margin: 0;
}

.nieuws-contact p {
	margin: 8px 0;
}

.nieuws-contact a {
	color: #111;
	background-color: #eee;
	padding: 13px 26px;
	text-decoration: none;
	text-align: center;
	border-radius: 3px;
	display: block;
	width: 100%;
}

/* sociale media */
.footer-taycan section:nth-of-type(4) {
	padding: 0 0 36px 0;
}

.footer-taycan section:nth-of-type(4) p {
	margin: 8px 0;
}

.footer-taycan section:nth-of-type(4) a img {
	background-color: #eee;
	border-radius: 3px;
	width: 50px;
	height: auto;
	padding: 15px;
	margin: 5px 10px 0 0;
}

/* over porsche */
.footer-taycan section:nth-of-type(5) {
	padding: 0 0 96px 0;
	display: flex;
	flex-direction: column;
}

.footer-taycan section:nth-of-type(5) a {
	text-decoration: none;
	color: #eee;
	padding: 7px 0 0 0;
}

/* copyright */
.footer-taycan section:nth-of-type(6) {
	margin: 16px 8%;
}

.footer-taycan section:nth-of-type(7) img {
	width: 45%;
	height: auto;
	margin: 0 8% 0 8%;
	padding: 96px 0 0 0;
	filter: invert(1);
	display: block;
	margin: 0 auto;
}







/***********************************/
/* PAGINA 2 - MODELLEN VERGELIJKEN */
/***********************************/





/* 
HEADER
  1. https://flexboxfroggy.com/#nl
  2. https://www.w3schools.com/css/tryit.asp?filename=trycss_zindex2
  8. ChatGPT prompt: Hoe zorg ik ervoor dat het minder hard opschaalt als ik het scherm groter maak?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  13. https://www.w3schools.com/css/css_display_visibility.asp
  15. https://www.youtube.com/watch?v=aNDqzlAKmZc&ab_channel=Treehouse
  16. https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
  17. https://mukundkumra.medium.com/create-a-responsive-hamburger-menu-with-html-and-css-a-step-by-step-tutorial-c63e44fcee2e
  18. https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0
  19. https://www.tutorialspoint.com/how-to-create-hamburger-menu-for-mobile-devices
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  23. https://www.w3schools.com/css/css_positioning.asp
*/

.profile-icon-vergelijken {
	width: 24px;
	height: 24px;
	/* filter: invert(1); */
}

#menu-btn-vergelijken img {
	width: 24px;
	height: 24px;
	/* filter: invert(1); */
}





/* 
Titel
 */

.titel {
	padding: 0 29px;
	background-color: #eff0f1;
}

.titel h1 {
	font-family: PorscheSemiBold;
	font-size: 1.5em;
	padding: 20px 0 10px 0;
	margin: 0;

}





/* 
Vergelijken
  8. ChatGPT prompt: Hoe zorg ik ervoor dat het minder hard opschaalt als ik het scherm groter maak?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
*/

.vergelijken {
	padding: 5% 6%;
}

.vergelijken section:nth-of-type(1) h2 {
	font-family: PorscheSemiBold;
	font-size: var(--font-size-h2-small);
	margin: 0;
}

.vergelijken section:nth-of-type(2) {
	font-size: var(--font-size-algemeen);
	margin: 20px 0 0 0;
}

.vergelijken section:nth-of-type(2) button {
	font-family: PorscheRegular;
	font-size: 16px;
	margin: 0 10px 0 0;
}

.vergelijken section:nth-of-type(2) button:first-of-type {
	width: 100%;
	padding: 13px 21px 13px 40px;
	background-color: #313639;
	border: transparent;
	color: #ffffff;
	text-align: left;
}

.vergelijken section:nth-of-type(2) button:nth-of-type(2),
.vergelijken section:nth-of-type(2) button:nth-of-type(3) {
	margin: 10px 10px 0 0;
	padding: 12px 20px 12px 40px;
	background-color: transparent;
	border-width: 1px;
	text-align: left;
}




/* 
Modellen
  1. https://flexboxfroggy.com/#nl
  8. ChatGPT prompt: Hoe zorg ik ervoor dat het minder hard opschaalt als ik het scherm groter maak?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  13. https://www.w3schools.com/css/css_display_visibility.asp
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.modellen {
	padding: 25px 29px;
}

.modellen section:nth-of-type(1) h2 {
	font-family: PorscheSemiBold;
	font-size: 28px;
}

.modellen section:nth-of-type(2) {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.card {
	width: calc(50% - 5px);
	height: auto;
	font-family: PorscheRegular;
}

.card img {
	width: 100%;
	height: auto;
}

.card h3 {
	font-size: var(--font-size-algemeen);
	margin: 0;
}

.card p {
	width: fit-content;
	margin: 0;
}





/* 
Brandstof
*/

.brandstof {
	padding: 25px 29px;
}

.brandstof h2 {
	font-family: PorscheSemiBold;
}

.brandstof p {
	font-family: PorscheRegular;
}





/* 
Meer over
  1. https://flexboxfroggy.com/#nl
  8. ChatGPT prompt: Hoe zorg ik ervoor dat het minder hard opschaalt als ik het scherm groter maak?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  13. https://www.w3schools.com/css/css_display_visibility.asp
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.meer-over {
	padding: 25px 29px 20px 29px;
}

.meer-over h2 {
	font-family: PorscheSemiBold;
}

.meer-over a {
	display: flex;
	color: var(--color-text);
	text-decoration: none;
	font-family: PorscheRegular;
	padding: 0 0 20px 0;
}




/* 
Overige links
  1. https://flexboxfroggy.com/#nl
  8. ChatGPT prompt: Hoe zorg ik ervoor dat het minder hard opschaalt als ik het scherm groter maak?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  13. https://www.w3schools.com/css/css_display_visibility.asp
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.overige-links {
	padding: 0 29px 25px 29px;
}

.overige-links button {
	display: flex;
	border: none;
	background-color: transparent;
	font-family: PorscheSemiBold;
	font-size: 18px;
	padding: 10px 0;
}

.overige-links h2 {
	margin: 20px 0 5px 0;
	font-size: 18px;
	font-family: PorscheSemiBold;
	color: #959899;
}

.overige-links a img {
	background-color: #eee;
	width: 50px;
	height: auto;
	padding: 10px;
	margin: 0 5px 0 0;
	filter: invert(1);
}





/* 
FOOTER
  1. https://flexboxfroggy.com/#nl
  8. ChatGPT prompt: Hoe zorg ik ervoor dat het minder hard opschaalt als ik het scherm groter maak?
  11. ChatGPT prompt: Hoe kan ik in CSS de breedte van een element in percentages omrekenen naar pixels in de Inspector?
  12. https://churchm.ag/responsive-calculator-pixels-percentages/
  13. https://www.w3schools.com/css/css_display_visibility.asp
  21. https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.footer-vergelijken {
	padding: 0 29px 70px 29px;
	background-color: #191f22;
	color: #ffffff;
}

.footer-vergelijken section:nth-of-type(1) {
	padding: 20px 0 20px 0;
}

.footer-vergelijken section:nth-of-type(1) h2 {
	font-family: PorscheSemiBold;
	font-size: var(--font-size-algemeen);
}

.footer-vergelijken section:nth-of-type(1) button {
	font-family: PorscheRegular;
	font-size: 100%;
	border: none;
	background-color: #313639;
	color: var(--color-text-white);
	padding: 13px;
	margin: 10px 50px 0 0;
	width: 100%;
	text-align: left;
}

.footer-vergelijken section:nth-of-type(2) {
	font-family: PorscheRegular;
	font-size: 100%;
}

.footer-vergelijken section:nth-of-type(2) p {
	margin: 3% 0 0 0;
}